# Windows/MSVS created files and directories
/make/*.exe
/make/*.ilk
/make/*.map
/make/*.pdb
/masm32/gas2masm.exe
/masm32/ml.exe
/make/msvs2008/Debug-gl
/make/msvs2008/Debug
/make/msvs2008/Release-gl
/make/msvs2008/*.ncb
/make/msvs2008/*.suo
/make/msvs2008/*.user

# ?
/release-*/
/debug-*/

# Downloaded library files
/libs/linux-x86/*.a
/libs/linux-x86_64/*.a
/libs/windows-x86/*.lib
/libs/mingw-x86/*.a

# Vi/Vim backup files
*~
