# Windows/MSVS created files and directories
/make/*.exe
/make/*.ilk
/make/*.map
/make/*.pdb
/masm32/gas2masm.exe
/masm32/ml.exe
/make/msvs20*/Debug-gl
/make/msvs20*/Debug
/make/msvs20*/Release-gl
/make/msvs20*/Release
/make/msvs2008/*.ncb
/make/msvs20*/*.suo
/make/msvs20*/*.user
/make/msvs2010/*.user
/make/msvs2010/*.sdf
/make/msvs2010/*.opensdf
/make/msvs2010/ipch/
/make/*.intermediate.*

# MinGW & Eclipse build dir
/release-*/
/debug-*/
/Win32 - GL - */

# Downloaded library files
/libs/linux-x86/*.a
/libs/linux-x86_64/*.a
/libs/windows-x86/*.lib
/libs/windows-x86_64/*.lib
/libs/mingw-x86/*.a
/libs/macosx/*.a

# Vi/Vim backup files
*~

# Xcode created files and directories
/osx/Quake.xcodeproj/project.xcworkspace/
/osx/Quake.xcodeproj/xcuserdata/
