
/make/*.exe
/make/*.ilk
/make/*.map
/make/*.pdb
/masm32/gas2masm.exe
/masm32/ml.exe
/make/msvs2008/Debug-gl
/make/msvs2008/Debug
/make/msvs2008/Release-gl
/make/msvs2008/*.ncb
/make/msvs2008/*.suo
/make/msvs2008/*.user

/release-*/
/debug-*/
/libs/linux-x86/*.a
/libs/linux-x86_64/*.a
