html {
  background-color: #B33000;
  color: #FFF7BF;
}
body {
  background-color: #B33000;
  color: #FFF7BF;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em 1em 1em 4em;
}
a {
  color: #FFDE00;
}
a:hover {
  color: #FF4400;
}
dt {
  font-weight: bold;
}
h1, h2, h3, h4 { margin-left: -1.5em; }
h1, h2, h3 {
  background-color: #FFE6BF;
  color: #B39B00;
}
h1 a, h2 a, h3 a, h4 a, h5 a { color: #B39B00; }
p#last-update {
  font-style: normal;
  background-color: #FFD0BF;
  color: #B36B00;
}
h4.cvar span.default {
  background-color: #B39B00;
/* border: 1px dotted black; */
  padding: 0 1em 0 1em;
  font-family: "Courier New", Courier, monospace;
}
h4.cvar span.pv {
  background-color: #FFA280;
  color: #000;
  padding: 0 1em 0 1em;
  font-family: "Courier New", Courier, monospace;
}
legend {
  color: #FFF7BF;
  font-weight: bold;
}
label:hover {
  color: #FFDE00;
}
label:active {
  text-decoration: underline;
}
input:hover {
  background-color: #ddd;
}
h3 span { 
  padding-left: 1em; 
  font-size: small;
  line-height: 0.2em;
  vertical-align: middle;
}
h3 span a { text-decoration: none; }
p.support {
	font-size: 0.8em;
	margin: 0;
}
p.support span {
	border: 1px;
	padding: 0.08em 0.13em;
}
p.support span.supported {
	background-color: #080;
}
p.support span.unsupported {
	background-color: #aaa;
	
}
p.default span {
	background-color: #B39B00;
  padding: 0.08em 0.13em;
}
p.default {
	margin: 0.3em 0;
	font-size: 0.8em;
}
p.range {
	margin: 0.3em 0;
	font-size: 0.8em;
}
p.range span {
	background-color: #FFA280;
  padding: 0.08em 0.13em;
}
table.values thead {
	font-weight: bold;
	border-collapse: collapse;
	border-bottom: 1px solid #FFA280;
}
table.values td {
	padding: 0.33em;
}
table.values {
	border-top: 1px solid #FFA280;
	border-bottom: 1px solid #FFA280;
	margin-top: 0.5em;
}
table.values caption {
  font-weight: bold;
  font-size: 1em;
}
dl.changelog dd ul { margin: 0 auto; }

div.option h3, h2.command {
    background-color: transparent;
    color: #FFF7BF;
}
h2.command code {
    font-weight: bold;
    color: #FFA280;
    font-size: 0.8em;
}
