#include <windows.h>
#include "version.h"

1 VERSIONINFO
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904B0"
		{
			VALUE "ProductName", "ezQuake"
			VALUE "ProductVersion", VERSION_NUMBER " Build " VERSION
			VALUE "FileDescription", "ezQuake v" VERSION_NUMBER " - QuakeWorld(r) Today"
			VALUE "FileVersion", VERSION_NUMBER
			VALUE "CompanyName", "The ezQuake Developers"
			VALUE "OriginalFileName", "ezquake.exe"
			VALUE "InternalName", "ezquake"
		}
	}

	BLOCK "VarFileInfo"
	{
		VALUE "Translation",  0x0409, 0x04B0
	}
}

1 ICON "ezquake.ico"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "ezquake.exe.manifest"
