name: build targets
on: [push, pull_request, workflow_dispatch]
jobs:
  windows-build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
       target: [windows-multi-x64]
       include:
         - target: windows-multi-x64
           config: rls-all
           platform: x64
           triplet: x64-windows-static

    steps:
    - name: Check out code
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: Setup vcpkg (it does not install any package yet)
      uses: lukka/run-vcpkg@v11

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.1

    - name: Build txt2c
      run: msbuild misc\vstudio\txt2c\txt2c.vcxproj -t:rebuild -property:Configuration=Release

    - name: Make dir
      run: mkdir .vs

    - name: Copy txt2c
      run: cp misc\vstudio\txt2c\.vs\txt2c.exe .vs\

    - name: Build ezquake
      run: msbuild ezQuake.vcxproj -t:rebuild -property:Configuration=${{ matrix.config }} -property:Platform=${{ matrix.platform }} -property:VcpkgEnableManifest=true
      env:
        VcpkgConfiguration: Release
        VcpkgTriplet: ${{ matrix.triplet }}

    - name: Archive client
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.target }}
        path: .vs\${{ matrix.platform }}\${{ matrix.config }}\Output\ezQuake.exe

  macos-arm-build:
    runs-on: macos-12
    steps:
    - name: Check out code
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: Install dependencies
      run: .github/workflows/scripts/homebrew.sh install-arm64

    - name: Build
      run: .github/workflows/scripts/homebrew.sh build-arm64

    - name: Create Bundle
      run: .github/workflows/scripts/homebrew.sh create-bundle

    - uses: actions/upload-artifact@v3
      with:
        name: macos-arm64
        path: ezQuake.zip

  macos-intel-build:
    runs-on: macos-12
    steps:
    - name: Check out code
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: Install dependencies
      run: .github/workflows/scripts/homebrew.sh install-intel

    - name: Build
      run: .github/workflows/scripts/homebrew.sh build-intel

    - name: Create Bundle
      run: .github/workflows/scripts/homebrew.sh create-bundle

    - uses: actions/upload-artifact@v3
      with:
        name: macos-intel
        path: ezQuake.zip

  linux-build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
       target: [linux-x86_64]
       include:
         - target: linux-x86_64
           platform: x86_64

    steps:
    - name: Check out code
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: Install dependencies
      run: sudo apt-get install libfuse2

    - name: Build
      run: ./misc/appimage/appimage-manual_creation.sh

    - uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.target }}-AppImage
        path: ezQuake-${{ matrix.platform }}.AppImage
